body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}

.mainDiv{
    height: 600px;
    width: 600px;
    background-color: gray;
    margin: 0 auto;
    border: 5px solid black;
    font-size: 0;
}

.mainDiv > div{
    display: inline-block;
    border: 5px solid black;
    box-sizing: border-box;
}

.red1{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 0 auto;
}

.yellow1{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 0 auto;    
}

.green1{
    height: 200px;
    width: 200px;
    background-color: green;
    margin: 0 auto;   
    border-radius: 50%;
}

.red2{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 0 auto;
    border-radius: 50%;
}

.yellow2{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 0 auto;    
}    

.green2{
    height: 200px;
    width: 200px;
    background-color: green;
    margin: 0 auto;  
    
}

.red3{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 0 auto;
}

.yellow3{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin: 0 auto;  
    border-radius: 50%;   
}    

.green3{
    height: 200px;
    width: 200px;
    background-color: green;
    margin: 0 auto;    
    
}